In [1]:
import requests
from lxml import etree

In [2]:
url = 'https://www.clio-infra.eu/index.html'

In [3]:
response = requests.get(url)

In [6]:
content = response.content

In [7]:
tree = etree.fromstring(content, parser=etree.HTMLParser())

In [8]:
tree

In [9]:
elem = tree.xpath('//div[@class="col-sm-4"]/div[@class = "list-group"]/p[@class = "list-group-item"]')

In [10]:
len(elem)

575

In [11]:
e = elem[0]

In [12]:
print(etree.tostring(e, pretty_print=True, encoding='utf8').decode('utf8'))

<p class="list-group-item">
  <a href="../Indicators/CattleperCapita.html">Cattle per Capita</a>
  <span class="badge">
    <a href="../data/CattleperCapita_Compact.xlsx">
      <font color="FFFFFF"> 1500 [7456] 2010</font>
    </a>
  </span>
</p>

In [13]:
a = e.find('a')

In [14]:
a.text

'Cattle per Capita'

In [15]:
a_ = e.find('*/a')

In [16]:
a_.attrib['href']

'../data/CattleperCapita_Compact.xlsx'

In [17]:
def get_indicator_links(tree):
    elem = tree.xpath('//div[@class="col-sm-4"]/div[@class = "list-group"]/p[@class = "list-group-item"]')
    
    res1 = {}
    res2 = {}
    
    for e in elem:
        try:
            name = e.find('a').text
            link = e.find('*/a').attrib['href']
            if '../data' in link:
                res1[name] = link
            else:
                res2[name] = link
        except:
            name = e.text
            res2[name] = ''
    return (res1, res2)

In [18]:
ind, cc = get_indicator_links(tree)

In [19]:
ind

{'Aluminium Production': '../data/AluminiumProduction_Compact.xlsx',
 'Armed Conflicts (Internal)': '../data/Armedconflicts(Internal)_Compact.xlsx',
 'Armed Conflicts (International)': '../data/ArmedConflicts(International)_Compact.xlsx',
 'Average Years of Education': '../data/AverageYearsofEducation_Compact.xlsx',
 'Bauxite Production': '../data/BauxiteProduction_Compact.xlsx',
 'Biodiversity - naturalness': '../data/Biodiversity-naturalness_Compact.xlsx',
 'Book Titles per Capita': '../data/BookTitlesperCapita_Compact.xlsx',
 'CO2 Emissions per Capita': '../data/CO2EmissionsperCapita_Compact.xlsx',
 'Cattle per Capita': '../data/CattleperCapita_Compact.xlsx',
 'Competitiveness of Executive ': '../data/CompetitivenessofExecutiveRecruitment(XRCOMP)_Compact.xlsx',
 'Competitiveness of Participations ': '../data/CompetitivenessofParticipations(PARCOMP)_Compact.xlsx',
 'Composite Measure ': '../data/CompositeMeasureofWellbeing_Compact.xlsx',
 'Copper Production': '../data/CopperProduction_Compact.xlsx',
 'Cropland per Capita': '../data/CroplandperCapita_Compact.xlsx',
 'Educational Inequality Gini ': '../data/EducationalInequalityGiniCoefficient_Compact.xlsx',
 'Exchange Rates to UK Pound': '../data/ExchangeRatestoUKPound_Compact.xlsx',
 'Exchange Rates to US Dollar': '../data/ExchangeRatestoUSDollar_Compact.xlsx',
 'Executive Constraints ': '../data/ExecutiveConstraints(XCONST)_Compact.xlsx',
 'Female life Expectancy at Birth': '../data/FemalelifeexpectancyatBirth_Compact.xlsx',
 'GDP per Capita': '../data/GDPperCapita_Compact.xlsx',
 'Gender Equality Years ': '../data/GenderEqualityYearsofEducation_Compact.xlsx',
 'Gender Equality of Numeracy': '../data/GenderEqualityofNumeracy_Compact.xlsx',
 'Gender-equal Inheritance': '../data/Gender-equalInheritance_Compact.xlsx',
 'Goats per Capita': '../data/GoatsperCapita_Compact.xlsx',
 'Gold Production': '../data/GoldProduction_Compact.xlsx',
 'Gold Standard': '../data/GoldStandard_Compact.xlsx',
 'Height': '../data/Height_Compact.xlsx',
 'Height Gini': '../data/HeightGini_Compact.xlsx',
 'Historical Gender Equality Index': '../data/HistoricalGenderEqualityIndex_Compact.xlsx',
 'Homicide Rates': '../data/HomicideRates_Compact.xlsx',
 'Income Inequality': '../data/IncomeInequality_Compact.xlsx',
 'Infant Mortality': '../data/InfantMortality_Compact.xlsx',
 'Inflation': '../data/Inflation_Compact.xlsx',
 'Iron Ore Production': '../data/IronOreProduction_Compact.xlsx',
 'Labourers Real Wage': '../data/LabourersRealWage_Compact.xlsx',
 'Latent Democracy Variable': '../data/LatentDemocracyVariable_Compact.xlsx',
 'Lead Production': '../data/LeadProduction_Compact.xlsx',
 'Life Expectancy at Birth (Total)': '../data/LifeExpectancyatBirth(Total)_Compact.xlsx',
 'Long-Term Government ': '../data/Long-TermGovernmentBondYield_Compact.xlsx',
 'Male life Expectancy at Birth': '../data/MalelifeExpectancyatBirth_Compact.xlsx',
 'Manganese Production': '../data/ManganeseProduction_Compact.xlsx',
 'Nickel Production': '../data/NickelProduction_Compact.xlsx',
 'Number of Days Lost in ': '../data/NumberofDaysLostinLabourDisputes_Compact.xlsx',
 'Number of Labour Disputes': '../data/NumberofLabourDisputes_Compact.xlsx',
 'Number of Workers Involved ': '../data/NumberofWorkersInvolvedinLabourDisputes_Compact.xlsx',
 'Numeracy (Total)': '../data/Numeracy(Total)_Compact.xlsx',
 'Openness of Executive ': '../data/OpennessofExecutiveRecruitment(XROPEN)_Compact.xlsx',
 'Pasture per Capita': '../data/PastureperCapita_Compact.xlsx',
 'Pigs per Capita': '../data/PigsperCapita_Compact.xlsx',
 'Political Competition': '../data/PoliticalCompetition_Compact.xlsx',
 'Political Participation': '../data/PoliticalParticipation_Compact.xlsx',
 'Polity2 Index': '../data/Polity2Index_Compact.xlsx',
 'Polyarchy': '../data/Polyarchy_Compact.xlsx',
 'Regulation of Chief Executive ': '../data/RegulationofChiefExecutiveRecruitment(XRREG)_Compact.xlsx',
 'Regulation of Participation ': '../data/RegulationofParticipation(PARREG)_Compact.xlsx',
 'SO2 Emissions per Capita': '../data/SO2EmissionsperCapita_Compact.xlsx',
 'Sex Ratio': '../data/SexRatio_Compact.xlsx',
 'Share of Women in Parliament': '../data/ShareofWomeninParliament_Compact.xlsx',
 'Sheep per Capita': '../data/SheepperCapita_Compact.xlsx',
 'Silver Production': '../data/SilverProduction_Compact.xlsx',
 'Tin Production': '../data/TinProduction_Compact.xlsx',
 'Total CO2 Emissions': '../data/TotalCO2Emissions_Compact.xlsx',
 'Total Cattle': '../data/TotalCattle_Compact.xlsx',
 'Total Cropland': '../data/TotalCropland_Compact.xlsx',
 'Total Gross Central Government ': '../data/TotalGrossCentralGovernmentDebtasaPercentageofGDP_Compact.xlsx',
 'Total Number of Goats': '../data/TotalNumberofGoats_Compact.xlsx',
 'Total Number of Pigs': '../data/TotalNumberofPigs_Compact.xlsx',
 'Total Number of Sheep': '../data/TotalNumberofSheep_Compact.xlsx',
 'Total Pasture': '../data/TotalPasture_Compact.xlsx',
 'Total Population': '../data/TotalPopulation_Compact.xlsx',
 'Total SO2 Emissions': '../data/TotalSO2Emissions_Compact.xlsx',
 'Total Urban Population': '../data/TotalUrbanPopulation_Compact.xlsx',
 'Tungsten Production': '../data/TungstenProduction_Compact.xlsx',
 'Unified Democracy Scores ': '../data/UnifiedDemocracyScores(UDS)_Compact.xlsx',
 'Universities Founded': '../data/UniversitiesFounded_Compact.xlsx',
 'Urbanization Ratio': '../data/UrbanizationRatio_Compact.xlsx',
 'Zinc Production': '../data/ZincProduction_Compact.xlsx'}

In [20]:
len(ind)

77

In [133]:
cc

{'Afghanistan': '../docs/Afghanistan_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_4.xlsx',
 'Albania': '../docs/Albania_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_8.xlsx',
 'Algeria': '../docs/Algeria_AllIndicatorsAvailable_TerritorialRef_1962_2012_CCode_12.xlsx',
 'American Samoa': '',
 'Andorra': '../docs/Andorra_AllIndicatorsAvailable_TerritorialRef_1993_2012_CCode_20.xlsx',
 'Angola': '../docs/Angola_AllIndicatorsAvailable_TerritorialRef_1975_2012_CCode_24.xlsx',
 'Anguilla': '',
 'Antigua and Barbuda': '../docs/AntiguaandBarbuda_AllIndicatorsAvailable_TerritorialRef_1981_2012_CCode_28.xlsx',
 'Argentina': '../docs/Argentina_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_32.xlsx',
 'Armenia': '../docs/Armenia_AllIndicatorsAvailable_TerritorialRef_1991_2012_CCode_51.xlsx',
 'Aruba': '',
 'Australia': '../docs/Australia_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_36.xlsx',
 'Austria': '../docs/Austria_AllIndicatorsAvailable_TerritorialRef_1955_2012_CCode_40.xlsx',
 'Azerbaijan': '../docs/Azerbaijan_AllIndicatorsAvailable_TerritorialRef_1991_2012_CCode_31.xlsx',
 'Bahamas': '../docs/Bahamas_AllIndicatorsAvailable_TerritorialRef_1973_2012_CCode_44.xlsx',
 'Bahrain': '../docs/Bahrain_AllIndicatorsAvailable_TerritorialRef_1971_2012_CCode_48.xlsx',
 'Bangladesh': '../docs/Bangladesh_AllIndicatorsAvailable_TerritorialRef_1971_2012_CCode_50.xlsx',
 'Barbados': '../docs/Barbados_AllIndicatorsAvailable_TerritorialRef_1966_2012_CCode_52.xlsx',
 'Belarus': '../docs/Belarus_AllIndicatorsAvailable_TerritorialRef_1991_2012_CCode_112.xlsx',
 'Belgium': '../docs/Belgium_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_56.xlsx',
 'Belize': '../docs/Belize_AllIndicatorsAvailable_TerritorialRef_1981_2012_CCode_84.xlsx',
 'Benin': '../docs/Benin_AllIndicatorsAvailable_TerritorialRef_1960_2012_CCode_204.xlsx',
 'Bermuda': '',
 'Bhutan': '../docs/Bhutan_AllIndicatorsAvailable_TerritorialRef_1971_2012_CCode_64.xlsx',
 'Bolivia (Plurinational State of)': '../docs/Bolivia_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_68.xlsx',
 'Bonaire, Sint Eustatius and Saba': '',
 'Bosnia and Herzegovina': '../docs/BosniaandHerzegovina_AllIndicatorsAvailable_TerritorialRef_1992_2012_CCode_70.xlsx',
 'Botswana': '../docs/Botswana_AllIndicatorsAvailable_TerritorialRef_1966_2012_CCode_72.xlsx',
 'Brazil': '../docs/Brazil_AllIndicatorsAvailable_TerritorialRef_1960_2012_CCode_76.xlsx',
 'British Virgin Islands': '',
 'Brunei Darussalam': '../docs/Brunei_AllIndicatorsAvailable_TerritorialRef_1984_2012_CCode_96.xlsx',
 'Bulgaria': '../docs/Bulgaria_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_100.xlsx',
 'Burkina Faso': '../docs/BurkinaFaso_AllIndicatorsAvailable_TerritorialRef_1960_2012_CCode_854.xlsx',
 'Burundi': '../docs/Burundi_AllIndicatorsAvailable_TerritorialRef_1962_2012_CCode_108.xlsx',
 'Cabo Verde': '../docs/CapeVerde_AllIndicatorsAvailable_TerritorialRef_1975_2012_CCode_132.xlsx',
 'Cambodia': '../docs/Cambodia_AllIndicatorsAvailable_TerritorialRef_1953_2012_CCode_116.xlsx',
 'Cameroon': '../docs/Cameroon_AllIndicatorsAvailable_TerritorialRef_1961_2012_CCode_120.xlsx',
 'Canada': '../docs/Canada_AllIndicatorsAvailable_TerritorialRef_1948_2012_CCode_124.xlsx',
 'Cayman Islands': '',
 'Central African Republic': '../docs/CentralAfricanRepublic_AllIndicatorsAvailable_TerritorialRef_1960_2012_CCode_140.xlsx',
 'Ceylon [1500-1945]': '../docs/Ceylon_1500_1945_all_data.xlsx',
 'Chad': '../docs/Chad_AllIndicatorsAvailable_TerritorialRef_1973_2012_CCode_148.xlsx',
 'Channel Islands': '',
 'Chile': '../docs/Chile_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_152.xlsx',
 'China': '../docs/China_AllIndicatorsAvailable_TerritorialRef_1949_2012_CCode_156.xlsx',
 'China, Hong Kong Special Administrative Region': '',
 'China, Macao Special Administrative Region': '',
 'Colombia': '../docs/Colombia_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_170.xlsx',
 'Comoros': '../docs/Comoros_AllIndicatorsAvailable_TerritorialRef_1975_2012_CCode_174.xlsx',
 'Congo': '../docs/Congo_AllIndicatorsAvailable_TerritorialRef_1960_2012_CCode_178.xlsx',
 'Cook Islands': '',
 'Costa Rica': '../docs/CostaRica_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_188.xlsx',
 "Cote d'Ivoire": '../docs/CotedIvoire_AllIndicatorsAvailable_TerritorialRef_1960_2012_CCode_384.xlsx',
 'Croatia': '../docs/Croatia_AllIndicatorsAvailable_TerritorialRef_1992_2012_CCode_191.xlsx',
 'Cuba': '../docs/Cuba_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_192.xlsx',
 'Curaçao': '',
 'Cyprus': '../docs/Cyprus_AllIndicatorsAvailable_TerritorialRef_1960_2012_CCode_196.xlsx',
 'Czech Republic': '../docs/CzechRepublic_AllIndicatorsAvailable_TerritorialRef_1993_2012_CCode_203.xlsx',
 'Czechoslovakia [1920-1992]': '../docs/Czechoslovakia_1920_1992_all_data.xlsx',
 "Democratic People's Republic of Korea": '../docs/NorthKorea_AllIndicatorsAvailable_TerritorialRef_1948_2012_CCode_408.xlsx',
 'Democratic Republic of the Congo': '../docs/CongoDRC_AllIndicatorsAvailable_TerritorialRef_1960_2012_CCode_180.xlsx',
 'Denmark': '../docs/Denmark_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_208.xlsx',
 'Djibouti': '../docs/Djibouti_AllIndicatorsAvailable_TerritorialRef_1977_2012_CCode_262.xlsx',
 'Dominica': '../docs/Dominica_AllIndicatorsAvailable_TerritorialRef_1978_2012_CCode_212.xlsx',
 'Dominican Republic': '../docs/DominicanRepublic_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_214.xlsx',
 'Ecuador': '../docs/Ecuador_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_218.xlsx',
 'Egypt': '../docs/Egypt_AllIndicatorsAvailable_TerritorialRef_1979_2012_CCode_818.xlsx',
 'Egypt (United Arab Republic) [1958-1961]': '../docs/EgyptUnitedArabRepublic_1958_1961_all_data.xlsx',
 'El Salvador': '../docs/ElSalvador_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_222.xlsx',
 'England [1500-1945]': '../docs/England_1500_1945_all_data.xlsx',
 'Equatorial Guinea': '../docs/EquatorialGuinea_AllIndicatorsAvailable_TerritorialRef_1968_2012_CCode_226.xlsx',
 'Eritrea': '../docs/Eritrea_AllIndicatorsAvailable_TerritorialRef_1993_2012_CCode_232.xlsx',
 'Estonia': '../docs/Estonia_AllIndicatorsAvailable_TerritorialRef_1991_2012_CCode_233.xlsx',
 'Ethiopia': '../docs/Ethiopia_AllIndicatorsAvailable_TerritorialRef_1993_2012_CCode_231.xlsx',
 'Faeroe Islands': '',
 'Falkland Islands (Malvinas)': '',
 'Falklands [1780-1945]': '../docs/Falklands_1780_1945_all_data.xlsx',
 'Fiji': '../docs/Fiji_AllIndicatorsAvailable_TerritorialRef_1970_2012_CCode_242.xlsx',
 'Finland': '../docs/Finland_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_246.xlsx',
 'France': '../docs/France_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_250.xlsx',
 'French Guiana': '',
 'French Polynesia': '',
 'Gabon': '../docs/Gabon_AllIndicatorsAvailable_TerritorialRef_1960_2012_CCode_266.xlsx',
 'Gambia': '../docs/TheGambia_AllIndicatorsAvailable_TerritorialRef_1965_2012_CCode_270.xlsx',
 'Gambia [1800-1945]': '../docs/Gambia_1800_1945_all_data.xlsx',
 'Georgia': '../docs/Georgia_AllIndicatorsAvailable_TerritorialRef_1991_2012_CCode_268.xlsx',
 'German Confederation [1820-1879]': '../docs/GermanConfederation_1820_1879_all_data.xlsx',
 'Germany': '../docs/Germany_AllIndicatorsAvailable_TerritorialRef_1990_2012_CCode_276.xlsx',
 'Ghana': '../docs/Ghana_AllIndicatorsAvailable_TerritorialRef_1957_2012_CCode_288.xlsx',
 'Gibraltar': '',
 'Greece': '../docs/Greece_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_300.xlsx',
 'Greenland': '',
 'Grenada': '../docs/Grenada_AllIndicatorsAvailable_TerritorialRef_1974_2012_CCode_308.xlsx',
 'Guadeloupe': '',
 'Guam': '',
 'Guatemala': '../docs/Guatemala_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_320.xlsx',
 'Guernsey': '',
 'Guinea': '../docs/Guinea_AllIndicatorsAvailable_TerritorialRef_1958_2012_CCode_324.xlsx',
 'Guinea-Bissau': '../docs/GuineaBissau_AllIndicatorsAvailable_TerritorialRef_1974_2012_CCode_624.xlsx',
 'Guyana': '../docs/Guyana_AllIndicatorsAvailable_TerritorialRef_1966_2012_CCode_328.xlsx',
 'Haiti': '../docs/Haiti_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_332.xlsx',
 'Holy See': '',
 'Honduras': '../docs/Honduras_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_340.xlsx',
 'Hong Kong [1860-1945]': '../docs/HongKong_1860_1945_all_data.xlsx',
 'Hungary': '../docs/Hungary_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_348.xlsx',
 'Iceland': '../docs/Iceland_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_352.xlsx',
 'India': '../docs/India_AllIndicatorsAvailable_TerritorialRef_1949_2012_CCode_356.xlsx',
 'Indonesia': '../docs/Indonesia_AllIndicatorsAvailable_TerritorialRef_2002_2012_CCode_360.xlsx',
 'Iran (Islamic Republic of)': '../docs/Iran_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_364.xlsx',
 'Iraq': '../docs/Iraq_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_368.xlsx',
 'Ireland': '../docs/Ireland_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_372.xlsx',
 'Isle of Man': '',
 'Israel': '../docs/Israel_AllIndicatorsAvailable_TerritorialRef_1979_2012_CCode_376.xlsx',
 'Italy': '../docs/Italy_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_380.xlsx',
 'Jamaica': '../docs/Jamaica_AllIndicatorsAvailable_TerritorialRef_1962_2012_CCode_388.xlsx',
 'Japan': '../docs/Japan_AllIndicatorsAvailable_TerritorialRef_1952_2012_CCode_392.xlsx',
 'Jersey': '',
 'Jordan': '../docs/Jordan_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_400.xlsx',
 'Kazakhstan': '../docs/Kazakhstan_AllIndicatorsAvailable_TerritorialRef_1991_2012_CCode_398.xlsx',
 'Kenya': '../docs/Kenya_AllIndicatorsAvailable_TerritorialRef_1963_2012_CCode_404.xlsx',
 'Kiribati': '../docs/Kiribati_AllIndicatorsAvailable_TerritorialRef_1999_2012_CCode_296.xlsx',
 'Kuwait': '../docs/Kuwait_AllIndicatorsAvailable_TerritorialRef_1961_2012_CCode_414.xlsx',
 'Kyrgyzstan': '../docs/Kyrgyzstan_AllIndicatorsAvailable_TerritorialRef_1991_2012_CCode_417.xlsx',
 "Lao People's Democratic Republic": '../docs/Laos_AllIndicatorsAvailable_TerritorialRef_1953_2012_CCode_418.xlsx',
 'Latvia': '../docs/Latvia_AllIndicatorsAvailable_TerritorialRef_1991_2012_CCode_428.xlsx',
 'Lebanon': '../docs/Lebanon_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_422.xlsx',
 'Lesotho': '../docs/Lesotho_AllIndicatorsAvailable_TerritorialRef_1966_2012_CCode_426.xlsx',
 'Liberia': '../docs/Liberia_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_430.xlsx',
 'Libya': '../docs/Libya_AllIndicatorsAvailable_TerritorialRef_1973_2012_CCode_434.xlsx',
 'Liechtenstein': '../docs/Liechtenstein_AllIndicatorsAvailable_TerritorialRef_1990_2012_CCode_438.xlsx',
 'Lithuania': '../docs/Lithuania_AllIndicatorsAvailable_TerritorialRef_1991_2012_CCode_440.xlsx',
 'Luxembourg': '../docs/Luxembourg_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_442.xlsx',
 'Madagascar': '../docs/Madagascar_AllIndicatorsAvailable_TerritorialRef_1960_2012_CCode_450.xlsx',
 'Malawi': '../docs/Malawi_AllIndicatorsAvailable_TerritorialRef_1964_2012_CCode_454.xlsx',
 'Malaysia': '../docs/Malaysia_AllIndicatorsAvailable_TerritorialRef_1965_2012_CCode_458.xlsx',
 'Maldives': '../docs/Maldives_AllIndicatorsAvailable_TerritorialRef_1965_2012_CCode_462.xlsx',
 'Mali': '../docs/Mali_AllIndicatorsAvailable_TerritorialRef_1960_2012_CCode_466.xlsx',
 'Malta': '../docs/Malta_AllIndicatorsAvailable_TerritorialRef_1964_2012_CCode_470.xlsx',
 'Marshall Islands': '../docs/MarshallIs_AllIndicatorsAvailable_TerritorialRef_1991_2012_CCode_584.xlsx',
 'Martinique': '',
 'Mauritania': '../docs/Mauritania_AllIndicatorsAvailable_TerritorialRef_1979_2012_CCode_478.xlsx',
 'Mauritius': '../docs/Mauritius_AllIndicatorsAvailable_TerritorialRef_1968_2012_CCode_480.xlsx',
 'Mayotte': '',
 'Mexico': '../docs/Mexico_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_484.xlsx',
 'Micronesia (Federated States of)': '../docs/Micronesia_AllIndicatorsAvailable_TerritorialRef_1991_2012_CCode_583.xlsx',
 'Monaco': '../docs/Monaco_AllIndicatorsAvailable_TerritorialRef_1993_2012_CCode_492.xlsx',
 'Mongolia': '../docs/Mongolia_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_496.xlsx',
 'Montenegro': '../docs/Montenegro_AllIndicatorsAvailable_TerritorialRef_2006_2012_CCode_499.xlsx',
 'Montserrat': '',
 'Morocco': '../docs/Morocco_AllIndicatorsAvailable_TerritorialRef_1979_2012_CCode_504.xlsx',
 'Mozambique': '../docs/Mozambique_AllIndicatorsAvailable_TerritorialRef_1975_2012_CCode_508.xlsx',
 'Myanmar': '../docs/Myanmar_AllIndicatorsAvailable_TerritorialRef_1948_2012_CCode_104.xlsx',
 'Namibia': '../docs/Namibia_AllIndicatorsAvailable_TerritorialRef_1990_2012_CCode_516.xlsx',
 'Nauru': '../docs/Nauru_AllIndicatorsAvailable_TerritorialRef_1999_2012_CCode_520.xlsx',
 'Nepal': '../docs/Nepal_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_524.xlsx',
 'Netherlands': '../docs/Netherlands_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_528.xlsx',
 'New Caledonia': '',
 'New Zealand': '../docs/NewZealand_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_554.xlsx',
 'Nicaragua': '../docs/Nicaragua_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_558.xlsx',
 'Niger': '../docs/Niger_AllIndicatorsAvailable_TerritorialRef_1960_2012_CCode_562.xlsx',
 'Nigeria': '../docs/Nigeria_AllIndicatorsAvailable_TerritorialRef_1961_2012_CCode_566.xlsx',
 'Niue': '',
 'Norfolk Island': '',
 'Northern Mariana Islands': '',
 'Norway': '../docs/Norway_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_578.xlsx',
 'Oman': '../docs/Oman_AllIndicatorsAvailable_TerritorialRef_1971_2012_CCode_512.xlsx',
 'Ottoman [1500-1945]': '../docs/Ottoman_1500_1945_all_data.xlsx',
 'Pakistan': '../docs/Pakistan_AllIndicatorsAvailable_TerritorialRef_1971_2012_CCode_586.xlsx',
 'Palau': '../docs/Palau_AllIndicatorsAvailable_TerritorialRef_1994_2012_CCode_585.xlsx',
 'Panama': '../docs/Panama_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_591.xlsx',
 'Papua New Guinea': '../docs/PapuaNewGuinea_AllIndicatorsAvailable_TerritorialRef_1975_2012_CCode_598.xlsx',
 'Paraguay': '../docs/Paraguay_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_600.xlsx',
 'Persia [1520-1919]': '../docs/Persia_1520_1919_all_data.xlsx',
 'Peru': '../docs/Peru_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_604.xlsx',
 'Philippines': '../docs/Philippines_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_608.xlsx',
 'Pitcairn': '',
 'Poland': '../docs/Poland_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_616.xlsx',
 'Poland-Lithuania [1500-1799]': '../docs/PolandLithuania_1500_1799_all_data.xlsx',
 'Portugal': '../docs/Portugal_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_620.xlsx',
 'Prussia [1680-1879]': '../docs/Prussia_1680_1879_all_data.xlsx',
 'Puerto Rico': '',
 'Qatar': '../docs/Qatar_AllIndicatorsAvailable_TerritorialRef_1971_2012_CCode_634.xlsx',
 'Republic of Korea': '../docs/SouthKorea_AllIndicatorsAvailable_TerritorialRef_1949_2012_CCode_410.xlsx',
 'Republic of Moldova': '../docs/Moldova_AllIndicatorsAvailable_TerritorialRef_1991_2012_CCode_498.xlsx',
 'Romania': '../docs/Romania_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_642.xlsx',
 'Russian Federation': '../docs/Russia_AllIndicatorsAvailable_TerritorialRef_1991_2012_CCode_643.xlsx',
 'Rwanda': '../docs/Rwanda_AllIndicatorsAvailable_TerritorialRef_1962_2012_CCode_646.xlsx',
 'Réunion': '',
 'Saint Helena': '',
 'Saint Kitts and Nevis': '../docs/StKittsandNevis_AllIndicatorsAvailable_TerritorialRef_1983_2012_CCode_659.xlsx',
 'Saint Lucia': '../docs/StLucia_AllIndicatorsAvailable_TerritorialRef_1979_2012_CCode_662.xlsx',
 'Saint Martin (French part)': '',
 'Saint Pierre and Miquelon': '',
 'Saint Vincent and the Grenadines': '../docs/StVincentandtheGrenadines_AllIndicatorsAvailable_TerritorialRef_1979_2012_CCode_670.xlsx',
 'Saint-Barthélemy': '',
 'Samoa': '../docs/Samoa_AllIndicatorsAvailable_TerritorialRef_1976_2012_CCode_882.xlsx',
 'San Marino': '../docs/SanMarino_AllIndicatorsAvailable_TerritorialRef_1992_2012_CCode_674.xlsx',
 'Sao Tome and Principe': '../docs/SaoTomeandPrincipe_AllIndicatorsAvailable_TerritorialRef_1975_2012_CCode_678.xlsx',
 'Sark': '',
 'Saudi Arabia': '../docs/SaudiArabia_AllIndicatorsAvailable_TerritorialRef_2000_2012_CCode_682.xlsx',
 'Senegal': '../docs/Senegal_AllIndicatorsAvailable_TerritorialRef_1960_2012_CCode_686.xlsx',
 'Serbia': '../docs/Serbia_AllIndicatorsAvailable_TerritorialRef_2008_2012_CCode_688.xlsx',
 'Seychelles': '../docs/Seychelles_AllIndicatorsAvailable_TerritorialRef_1976_2012_CCode_690.xlsx',
 'Sierra Leone': '../docs/SierraLeone_AllIndicatorsAvailable_TerritorialRef_1961_2012_CCode_694.xlsx',
 'Singapore': '../docs/Singapore_AllIndicatorsAvailable_TerritorialRef_1965_2012_CCode_702.xlsx',
 'Sint Maarten (Dutch part)': '',
 'Slovakia': '../docs/Slovakia_AllIndicatorsAvailable_TerritorialRef_1993_2012_CCode_703.xlsx',
 'Slovenia': '../docs/Slovenia_AllIndicatorsAvailable_TerritorialRef_1992_2012_CCode_705.xlsx',
 'Solomon Islands': '../docs/SolomonIs_AllIndicatorsAvailable_TerritorialRef_1978_2012_CCode_90.xlsx',
 'Somalia': '../docs/Somalia_AllIndicatorsAvailable_TerritorialRef_1960_2012_CCode_706.xlsx',
 'South Africa': '../docs/SouthAfrica_AllIndicatorsAvailable_TerritorialRef_1990_2012_CCode_710.xlsx',
 'South Sudan': '../docs/SouthSudan_AllIndicatorsAvailable_TerritorialRef_2011_2012_CCode_728.xlsx',
 'Spain': '../docs/Spain_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_724.xlsx',
 'Sri Lanka': '../docs/SriLanka_AllIndicatorsAvailable_TerritorialRef_1948_2012_CCode_144.xlsx',
 'State of Palestine': '',
 'Sudan': '../docs/Sudan_AllIndicatorsAvailable_TerritorialRef_2011_2012_CCode_729.xlsx',
 'Suriname': '../docs/Suriname_AllIndicatorsAvailable_TerritorialRef_1975_2012_CCode_740.xlsx',
 'Svalbard and Jan Mayen Islands': '',
 'Swaziland': '../docs/Swaziland_AllIndicatorsAvailable_TerritorialRef_1968_2012_CCode_748.xlsx',
 'Sweden': '../docs/Sweden_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_752.xlsx',
 'Switzerland': '../docs/Switzerland_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_756.xlsx',
 'Syrian Arab Republic': '../docs/Syria_AllIndicatorsAvailable_TerritorialRef_1967_2012_CCode_760.xlsx',
 'Tajikistan': '../docs/Tajikistan_AllIndicatorsAvailable_TerritorialRef_1991_2012_CCode_762.xlsx',
 'Thailand': '../docs/Thailand_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_764.xlsx',
 'The former Yugoslav Republic of Macedonia': '../docs/Macedonia_AllIndicatorsAvailable_TerritorialRef_1993_2012_CCode_807.xlsx',
 'Timor-Leste': '../docs/TimorLeste_AllIndicatorsAvailable_TerritorialRef_2002_2012_CCode_626.xlsx',
 'Togo': '../docs/Togo_AllIndicatorsAvailable_TerritorialRef_1960_2012_CCode_768.xlsx',
 'Tokelau': '',
 'Tonga': '../docs/Tonga_AllIndicatorsAvailable_TerritorialRef_1999_2012_CCode_776.xlsx',
 'Trinidad and Tobago': '../docs/TrinidadandTobago_AllIndicatorsAvailable_TerritorialRef_1962_2012_CCode_780.xlsx',
 'Tunisia': '../docs/Tunisia_AllIndicatorsAvailable_TerritorialRef_1956_2012_CCode_788.xlsx',
 'Turkey': '../docs/Turkey_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_792.xlsx',
 'Turkmenistan': '../docs/Turkmenistan_AllIndicatorsAvailable_TerritorialRef_1991_2012_CCode_795.xlsx',
 'Turks and Caicos Islands': '',
 'Tuvalu': '../docs/Tuvalu_AllIndicatorsAvailable_TerritorialRef_2000_2012_CCode_798.xlsx',
 'USSR [1940-1991]': '../docs/USSR_1940_1991_all_data.xlsx',
 'Uganda': '../docs/Uganda_AllIndicatorsAvailable_TerritorialRef_1962_2012_CCode_800.xlsx',
 'Ukraine': '../docs/Ukraine_AllIndicatorsAvailable_TerritorialRef_1991_2012_CCode_804.xlsx',
 'United Arab Emirates': '../docs/UnitedArabEmirates_AllIndicatorsAvailable_TerritorialRef_1971_2012_CCode_784.xlsx',
 'United Kingdom of Great Britain and Northern Ireland': '../docs/UnitedKingdom_AllIndicatorsAvailable_TerritorialRef_1946_2012_CCode_826.xlsx',

In [134]:
len(cc)

257

In [21]:
elem = tree.xpath('//div[@class="col-sm-4"]/div[@class = "list-group"]/p[@class = "list-group-item"]')
len(elem)  #? why not match?

575

In [22]:
t = '''Cattle per Capita 1500 [7456] 2010
Cropland per Capita 1500 [6226] 2010
Goats per Capita 1500 [7037] 2010
Pasture per Capita 1500 [5963] 2010
Pigs per Capita 1500 [6841] 2010
Sheep per Capita 1500 [6835] 2010
Total Cattle 1500 [7457] 2010
Total Cropland 1500 [6191] 2010
Total Number of Goats 1500 [7037] 2010
Total Number of Pigs 1500 [6841] 2010
Total Number of Sheep 1500 [6835] 2010
Total Pasture 1500 [5928] 2010
Composite Measure of Wellbeing 1820 [3667] 2000
Female life Expectancy at Birth 1750 [1058] 2000
Height 1550 [1490] 2000
Height Gini 1810 [678] 1980
Infant Mortality 1810 [641] 2000
Life Expectancy at Birth (Total) 1543 [12863] 2012
Male life Expectancy at Birth 1750 [1058] 2000
Total Population 1500 [3221] 2000
Total Urban Population 1500 [1722] 2000
Urbanization Ratio 1500 [1051] 2000
Biodiversity - naturalness 1500 [6120] 2010
CO2 Emissions per Capita 1750 [1724] 2010
SO2 Emissions per Capita 1850 [2079] 2000
Total CO2 Emissions 1750 [16446] 2008
Total SO2 Emissions 1850 [2079] 2000
Exchange Rates to UK Pound 1500 [15572] 2013
Exchange Rates to US Dollar 1500 [11765] 2013
Gold Standard 1800 [14359] 2010
Long-Term Government Bond Yield 1727 [2849] 2011
Total Gross Central Government Debt as a Percentage of GDP 1692 [7134] 2010
Gender-equal Inheritance 1920 [78] 2000
Gender Equality of Numeracy 1810 [1064] 1960
Gender Equality Years of Education 1950 [140] 2000
Historical Gender Equality Index 1900 [237] 2000
Sex Ratio 1900 [219] 2000
Share of Women in Parliament 1960 [1589] 2010
Average Years of Education 1820 [1677] 2010
Book Titles per Capita 1500 [8191] 2009
Educational Inequality Gini Coefficient 1850 [12631] 2010
Numeracy (Total) 1500 [1384] 1970
Universities Founded 1502 [1424] 2013
Armed Conflicts (Internal) 1500 [95198] 2000
Armed Conflicts (International) 1500 [95198] 2000
Competitiveness of Executive Recruitment (XRCOMP) 1800 [14792] 2012
Competitiveness of Participations (PARCOMP) 1800 [14792] 2012
Executive Constraints (XCONST) 1800 [14792] 2012
Homicide Rates 1800 [6618] 2010
Latent Democracy Variable 1850 [7842] 2000
Openness of Executive Recruitment (XROPEN) 1800 [14792] 2012
Political Competition 1810 [12762] 2000
Political Participation 1810 [12883] 2000
Polity2 Index 1800 [14593] 2012
Polyarchy 1810 [12730] 2010
Regulation of Chief Executive Recruitment (XRREG) 1800 [14792] 2012
Regulation of Participation (PARREG) 1800 [14792] 2012
Unified Democracy Scores (UDS) 1946 [8434] 2008
Number of Days Lost in Labour Disputes 1927 [4531] 2013
Number of Labour Disputes 1927 [4808] 2013
Number of Workers Involved in Labour Disputes 1927 [4651] 2013
GDP per Capita 1500 [12415] 2010
Income Inequality 1820 [866] 2000
Inflation 1500 [16676] 2010
Labourers Real Wage 1820 [5053] 2008
Aluminium Production 1850 [11736] 2012
Bauxite Production 1880 [6384] 2012
Copper Production 1700 [19472] 2012
Gold Production 1681 [35855] 2012
Iron Ore Production 1820 [12738] 2012
Lead Production 1705 [12934] 2012
Manganese Production 1835 [8722] 2012
Nickel Production 1850 [5214] 2012
Silver Production 1681 [26892] 2012
Tin Production 1700 [13772] 2012
Tungsten Production 1860 [16371] 2012
Zinc Production
'''

In [23]:
t = t.strip()

In [24]:
len(t.split('\n'))

77

In [25]:
import os.path as osp

In [30]:
from urllib.parse import urlparse, urljoin

In [33]:
p = urlparse(url)

In [34]:
p.hostname

'www.clio-infra.eu'

In [36]:
urljoin(url, link)

'https://www.clio-infra.eu/data/TotalCattle_Compact.xlsx'

In [40]:
for name, link in ind.items():
    res = requests.get(urljoin(url, link), stream=True)
#     print(res.url)
    fn = f'../source/{name}.xls'
    print(fn, end=', ')
    with open(fn, 'wb') as f:
        for chunk in res.iter_content(chunk_size=1024):
            if chunk:
                f.write(chunk)
                f.flush()
        f.close()
    print('Done')

../source/Cattle per Capita.xls, Done
../source/Cropland per Capita.xls, Done
../source/Goats per Capita.xls, Done
../source/Pasture per Capita.xls, Done
../source/Pigs per Capita.xls, Done
../source/Sheep per Capita.xls, Done
../source/Total Cattle.xls, Done
../source/Total Cropland.xls, Done
../source/Total Number of Goats.xls, Done
../source/Total Number of Pigs.xls, Done
../source/Total Number of Sheep.xls, Done
../source/Total Pasture.xls, Done
../source/Composite Measure .xls, Done
../source/Female life Expectancy at Birth.xls, Done
../source/Height.xls, Done
../source/Height Gini.xls, Done
../source/Infant Mortality.xls, Done
../source/Life Expectancy at Birth (Total).xls, Done
../source/Male life Expectancy at Birth.xls, Done
../source/Total Population.xls, Done
../source/Total Urban Population.xls, Done
../source/Urbanization Ratio.xls, Done
../source/Biodiversity - naturalness.xls, Done
../source/CO2 Emissions per Capita.xls, Done
../source/SO2 Emissions per Capita.xls, Done
../source/Total CO2 Emissions.xls, Done
../source/Total SO2 Emissions.xls, Done
../source/Exchange Rates to UK Pound.xls, Done
../source/Exchange Rates to US Dollar.xls, Done
../source/Gold Standard.xls, Done
../source/Long-Term Government .xls, Done
../source/Total Gross Central Government .xls, Done
../source/Gender-equal Inheritance.xls, Done
../source/Gender Equality of Numeracy.xls, Done
../source/Gender Equality Years .xls, Done
../source/Historical Gender Equality Index.xls, Done
../source/Sex Ratio.xls, Done
../source/Share of Women in Parliament.xls, Done
../source/Average Years of Education.xls, Done
../source/Book Titles per Capita.xls, Done
../source/Educational Inequality Gini .xls, Done
../source/Numeracy (Total).xls, Done
../source/Universities Founded.xls, Done
../source/Armed Conflicts (Internal).xls, Done
../source/Armed Conflicts (International).xls, Done
../source/Competitiveness of Executive .xls, Done
../source/Competitiveness of Participations .xls, Done
../source/Executive Constraints .xls, Done
../source/Homicide Rates.xls, Done
../source/Latent Democracy Variable.xls, Done
../source/Openness of Executive .xls, Done
../source/Political Competition.xls, Done
../source/Political Participation.xls, Done
../source/Polity2 Index.xls, Done
../source/Polyarchy.xls, Done
../source/Regulation of Chief Executive .xls, Done
../source/Regulation of Participation .xls, Done
../source/Unified Democracy Scores .xls, Done
../source/Number of Days Lost in .xls, Done
../source/Number of Labour Disputes.xls, Done
../source/Number of Workers Involved .xls, Done
../source/GDP per Capita.xls, Done
../source/Income Inequality.xls, Done
../source/Inflation.xls, Done
../source/Labourers Real Wage.xls, Done
../source/Aluminium Production.xls, Done
../source/Bauxite Production.xls, Done
../source/Copper Production.xls, Done
../source/Gold Production.xls, Done
../source/Iron Ore Production.xls, Done
../source/Lead Production.xls, Done
../source/Manganese Production.xls, Done
../source/Nickel Production.xls, Done
../source/Silver Production.xls, Done
../source/Tin Production.xls, Done
../source/Tungsten Production.xls, Done
../source/Zinc Production.xls, Done

In [41]:
fn

'../source/Zinc Production.xls'

In [46]:
import pandas as pd
import os

In [43]:
datapage = 'Data Long Format'
metadatapage = 'Metadata'

In [47]:
data = pd.read_excel(fn, sheetname=datapage)
metadata = pd.read_excel(fn, sheetname=metadatapage)

In [48]:
data.head()

   ccode country.name  year  value
0     12      Algeria  1705    0.0
1     32    Argentina  1705    0.0
2     51      Armenia  1705    0.0
3     36    Australia  1705    0.0
4     40      Austria  1705    0.0

In [49]:
metadata

       Description                                              Value
0  Downloaded from  https://www.clio-infra.eu/data/ZincProduction_...
1    Text Citation  Klein Goldewijk, Kees and Jonathan Fink-Jensen...
2     XML Citation  https://www.clio-infra.eu/citations/DOI-10622_...
3     RIS Citation  https://www.clio-infra.eu/Citations/DOI-10622_...
4     BIB Citation  https://www.clio-infra.eu/Citations/DOI-10622_...

In [62]:
metadata.set_index('Description').T.reset_index(drop=True)

Description,Downloaded from,Text Citation,XML Citation,RIS Citation,BIB Citation
0,https://www.clio-infra.eu/data/ZincProduction_...,"Klein Goldewijk, Kees and Jonathan Fink-Jensen...",https://www.clio-infra.eu/citations/DOI-10622_...,https://www.clio-infra.eu/Citations/DOI-10622_...,https://www.clio-infra.eu/Citations/DOI-10622_...

In [51]:
geo_data = data[['ccode', 'country.name']].drop_duplicates()

In [54]:
geo_data.head()

   ccode country.name
0     12      Algeria
1     32    Argentina
2     51      Armenia
3     36    Australia
4     40      Austria

In [55]:
from ddf_utils.str import to_concept_id

In [59]:
osp.splitext(osp.basename(fn))

('Zinc Production', '.xls')

In [189]:
def process_file(fn):
    data = pd.read_excel(fn, sheetname=datapage)
    metadata = pd.read_excel(fn, sheetname=metadatapage)
    geo_data = data[['ccode', 'country.name']].drop_duplicates()
    indicator_data = data[['country.name', 'year', 'value']].copy()
    
    concept_name = osp.splitext(osp.basename(fn))[0]
    concept_id = to_concept_id(concept_name)
    
    metadata = metadata.set_index('Description').T.reset_index(drop=True)
    metadata['concept'] = concept_id
    metadata['concept_type'] = 'measure'
    metadata['name'] = concept_name
    metadata = metadata.set_index('concept')
    
    indicator_data.columns = ['country', 'year', concept_id]
    indicator_data['country'] = indicator_data['country'].map(to_concept_id)
    indicator_data = indicator_data.set_index(['country', 'year'])
    
    if indicator_data.index.has_duplicates:
        print(fn)
        print(indicator_data.index[indicator_data.index.duplicated()])
        indicator_data = indicator_data[~indicator_data.index.duplicated(keep='first')]
    
    geo_data.columns = ['ccode', 'name']
    geo_data['country'] = geo_data.name.map(to_concept_id)
    geo_data = geo_data.set_index('country')
    
    return (metadata, geo_data, indicator_data)

In [190]:
fn = '../source/Labourers Real Wage.xls'

d1, d2, d3 = process_file(fn)

../source/Labourers Real Wage.xls
MultiIndex(levels=[['algeria', 'antigua_and_barbuda', 'argentina', 'australia', 'austria', 'bahamas', 'bangladesh', 'barbados', 'belgium', 'belize', 'benin', 'bolivia', 'botswana', 'brazil', 'burkina_faso', 'burundi', 'canada', 'cape_verde', 'central_african_republic', 'chad', 'chile', 'china', 'colombia', 'comoros', 'congo', 'congo_drc', 'costa_rica', 'cote_d_ivoire', 'cyprus', 'czech_republic', 'denmark', 'djibouti', 'dominica', 'dominican_republic', 'ecuador', 'egypt', 'el_salvador', 'estonia', 'fiji', 'finland', 'france', 'gabon', 'germany', 'ghana', 'greece', 'grenada', 'guatemala', 'guinea', 'guinea_bissau', 'guyana', 'haiti', 'honduras', 'hungary', 'iceland', 'india', 'iran', 'ireland', 'israel', 'italy', 'jamaica', 'japan', 'jordan', 'kenya', 'kuwait', 'laos', 'latvia', 'lebanon', 'lesotho', 'liberia', 'luxembourg', 'madagascar', 'malawi', 'malaysia', 'mali', 'malta', 'mauritius', 'mexico', 'morocco', 'myanmar', 'nepal', 'netherlands', 'new_zealand', 'nicaragua', 'niger', 'nigeria', 'norway', 'pakistan', 'panama', 'papua_new_guinea', 'paraguay', 'peru', 'philippines', 'poland', 'portugal', 'qatar', 'romania', 'russia', 'rwanda', 'samoa', 'senegal', 'seychelles', 'sierra_leone', 'singapore', 'solomon_is', 'somalia', 'south_africa', 'south_korea', 'spain', 'sri_lanka', 'st_kitts_and_nevis', 'st_lucia', 'st_vincent_and_the_grenadines', 'sudan', 'suriname', 'swaziland', 'sweden', 'switzerland', 'syria', 'taiwan', 'thailand', 'the_gambia', 'togo', 'tonga', 'trinidad_and_tobago', 'tunisia', 'turkey', 'uganda', 'united_kingdom', 'united_states', 'uruguay', 'venezuela', 'zambia', 'zimbabwe'], [1820, 1821, 1822, 1823, 1824, 1825, 1826, 1827, 1828, 1829, 1830, 1831, 1832, 1833, 1834, 1835, 1836, 1837, 1838, 1839, 1840, 1841, 1842, 1843, 1844, 1845, 1846, 1847, 1848, 1849, 1850, 1851, 1852, 1853, 1854, 1855, 1856, 1857, 1858, 1859, 1860, 1861, 1862, 1863, 1864, 1865, 1866, 1867, 1868, 1869, 1870, 1871, 1872, 1873, 1874, 1875, 1876, 1877, 1878, 1879, 1880, 1881, 1882, 1883, 1884, 1885, 1886, 1887, 1888, 1889, 1890, 1891, 1892, 1893, 1894, 1895, 1896, 1897, 1898, 1899, 1900, 1901, 1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008]],
           labels=[[16, 16, 77, 77], [126, 127, 136, 137]],
           names=['country', 'year'])

In [117]:
d1.index[0]

'zinc_production'

In [191]:
d3.head()

              labourers_real_wage
country year
belgium 1820            16.627341
china   1820             3.710934
france  1820            18.241352
germany 1820             8.426688
italy   1820             3.584328

In [121]:
concepts = []
geos = []

In [192]:
for fn in os.listdir('../source'):
    if fn.endswith('xls'):
        cdf, geo, ind = process_file(osp.join('../source', fn))
        ind.to_csv(osp.join('../../', f'ddf--datapoints--{cdf.index[0]}--by--country--year.csv'))
        concepts.append(cdf)
        geos.append(geo)

../source/Labourers Real Wage.xls
MultiIndex(levels=[['algeria', 'antigua_and_barbuda', 'argentina', 'australia', 'austria', 'bahamas', 'bangladesh', 'barbados', 'belgium', 'belize', 'benin', 'bolivia', 'botswana', 'brazil', 'burkina_faso', 'burundi', 'canada', 'cape_verde', 'central_african_republic', 'chad', 'chile', 'china', 'colombia', 'comoros', 'congo', 'congo_drc', 'costa_rica', 'cote_d_ivoire', 'cyprus', 'czech_republic', 'denmark', 'djibouti', 'dominica', 'dominican_republic', 'ecuador', 'egypt', 'el_salvador', 'estonia', 'fiji', 'finland', 'france', 'gabon', 'germany', 'ghana', 'greece', 'grenada', 'guatemala', 'guinea', 'guinea_bissau', 'guyana', 'haiti', 'honduras', 'hungary', 'iceland', 'india', 'iran', 'ireland', 'israel', 'italy', 'jamaica', 'japan', 'jordan', 'kenya', 'kuwait', 'laos', 'latvia', 'lebanon', 'lesotho', 'liberia', 'luxembourg', 'madagascar', 'malawi', 'malaysia', 'mali', 'malta', 'mauritius', 'mexico', 'morocco', 'myanmar', 'nepal', 'netherlands', 'new_zealand', 'nicaragua', 'niger', 'nigeria', 'norway', 'pakistan', 'panama', 'papua_new_guinea', 'paraguay', 'peru', 'philippines', 'poland', 'portugal', 'qatar', 'romania', 'russia', 'rwanda', 'samoa', 'senegal', 'seychelles', 'sierra_leone', 'singapore', 'solomon_is', 'somalia', 'south_africa', 'south_korea', 'spain', 'sri_lanka', 'st_kitts_and_nevis', 'st_lucia', 'st_vincent_and_the_grenadines', 'sudan', 'suriname', 'swaziland', 'sweden', 'switzerland', 'syria', 'taiwan', 'thailand', 'the_gambia', 'togo', 'tonga', 'trinidad_and_tobago', 'tunisia', 'turkey', 'uganda', 'united_kingdom', 'united_states', 'uruguay', 'venezuela', 'zambia', 'zimbabwe'], [1820, 1821, 1822, 1823, 1824, 1825, 1826, 1827, 1828, 1829, 1830, 1831, 1832, 1833, 1834, 1835, 1836, 1837, 1838, 1839, 1840, 1841, 1842, 1843, 1844, 1845, 1846, 1847, 1848, 1849, 1850, 1851, 1852, 1853, 1854, 1855, 1856, 1857, 1858, 1859, 1860, 1861, 1862, 1863, 1864, 1865, 1866, 1867, 1868, 1869, 1870, 1871, 1872, 1873, 1874, 1875, 1876, 1877, 1878, 1879, 1880, 1881, 1882, 1883, 1884, 1885, 1886, 1887, 1888, 1889, 1890, 1891, 1892, 1893, 1894, 1895, 1896, 1897, 1898, 1899, 1900, 1901, 1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008]],
           labels=[[16, 16, 77, 77], [126, 127, 136, 137]],
           names=['country', 'year'])

XLRDError: Unsupported format, or corrupt file: Expected BOF record; found b'\x0bSemio Z'

In [170]:
cdf_full = pd.concat(concepts)

In [171]:
cdf_full.columns

Index(['Downloaded from', 'Text Citation', 'XML Citation', 'RIS Citation',
       'BIB Citation', 'concept_type', 'name'],
      dtype='object', name='Description')

In [172]:
cdf_full = cdf_full[['name', 'concept_type', 'Downloaded from', 'Text Citation', 
                     'XML Citation', 'RIS Citation','BIB Citation']]

In [173]:
cdf_full.columns = cdf_full.columns.map(to_concept_id)

In [176]:
geo_full = pd.concat(geos)

In [177]:
geo_full.shape

(10269, 2)

In [178]:
geo_full = geo_full.drop_duplicates(subset=['name'])

In [179]:
geo_full['ccode'] = geo_full['ccode'].map(lambda x: int(x) if not pd.isnull(x) else '')

In [180]:
geo_full.to_csv('../../ddf--entities--country.csv')

In [137]:
from ddf_utils.transformer import extract_concepts

In [153]:
# add discrete concepts

discrete = extract_concepts([cdf_full, geo_full.reset_index()])

In [154]:
discrete

           concept concept_type
0             name       string
1     concept_type       string
2  downloaded_from       string
3    text_citation       string
4     xml_citation       string
5     ris_citation       string
6     bib_citation       string
7          country       string
8            ccode       string

In [155]:
discrete = discrete.set_index('concept')

In [160]:
discrete.loc['country', 'concept_type'] = 'entity_domain'
discrete.loc['year', 'concept_type'] = 'time'

In [167]:
discrete['name'] = discrete.index

In [174]:
cdf_full = cdf_full.append(discrete).drop_duplicates(subset=['name'])

In [175]:
cdf_full.to_csv('../../ddf--concepts.csv')

In [91]:
d1  #FIXME: possible bug in pandas: the Description

Description,Downloaded from,Text Citation,XML Citation,RIS Citation,BIB Citation,concept_type,name
concept,,,,,,,
zinc_production,https://www.clio-infra.eu/data/ZincProduction_...,"Klein Goldewijk, Kees and Jonathan Fink-Jensen...",https://www.clio-infra.eu/citations/DOI-10622_...,https://www.clio-infra.eu/Citations/DOI-10622_...,https://www.clio-infra.eu/Citations/DOI-10622_...,measure,Zinc Production

In [103]:
ttt = pd.DataFrame.from_records([
    {
        'col1': 'a',
        'col2': 'b',
        'col3': 0,
        'col4': 1
    },
    {
        'col1': 'c',
        'col2': 'd',
        'col3': 2,
        'col4': 3,
    },
])

In [104]:
ttt

  col1 col2  col3  col4
0    a    b     0     1
1    c    d     2     3

In [110]:
ttt2 = ttt.set_index('col1').T.reset_index(drop=True)

In [111]:
ttt2

col1  a  c
0     b  d
1     0  2
2     1  3

In [112]:
ttt2.index.name

In [113]:
ttt2.index.name = 'index'

In [114]:
ttt2

col1   a  c
index
0      b  d
1      0  2
2      1  3

In [115]:
ttt.set_index('col1').reset_index(drop=True)

  col2  col3  col4
0    b     0     1
1    d     2     3